<hr />
<div class="row">
  <div class="col-sm-10">
    <h4>User Details</h4>
  </div>
  <div class="col-sm-2">
    <button (click)="addNewItem()">Add New Item</button>
  </div>
</div>

<hr />

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" *ngFor="let col of columnNames; let i = index">
        <div (click)="sort(col)">{{columnDisplayNames[i]}}</div>
        <input type="text" (change)="search(col, $event)"/>
      </th>
    
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of data| search: searchData |sort:sortColumn:isAsc" (click)="edit(user)">
      <td>{{user.name}}</td>
      <td>{{user.phoneNo}}</td>
      <td>{{user.email}}</td>
      <td>{{user.alternativePhoneNo}}</td>
    </tr>
  </tbody>
</table>
