<div class="container">

  <div class="row">
    <div>
      <h3 *ngIf="isNew">Add data</h3>
      <h3 *ngIf="!isNew">Edit data</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <label for="name">Name</label>
      <input type="text" class="form-control" [(ngModel)]="userModel.name" name="name">
    </div>
    <div class="col-sm-2">
      <label for="phoneNo">Phone No</label>
      <input type="text" class="form-control" [(ngModel)]="userModel.phoneNo" name="phoneNo">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label for="email">Email</label>
      <input type="text" class="form-control" [(ngModel)]="userModel.email" name="email">
    </div>
    <div class="col-sm-2">
      <label for="altNo">Alternative Phone No</label>
      <input type="text" class="form-control" [(ngModel)]="userModel.alternativePhoneNo" name="alternativePhoneNo">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <input type="file" (change)="addPhoto($event)"/>
    </div>
    <div class="col-sm-2">
      <img [src]="expPhoto" *ngIf="expPhoto" height="200">
    </div>
  </div>
  <br>

  <div class="row">
      <div *ngIf="isNew" class="col-sm-1">
        <button type="button" (click)="onSubmit()" class="btn-btn success">Add</button>
      </div>
      <div *ngIf="!isNew" class="col-sm-1">
        <button type="button" (click)="onSubmit()" class="btn-btn success">Update</button>
      </div>
      <div *ngIf="!isNew" class="col-sm-1">
        <button type="button" (click)="delete()" class="btn-btn success">Delete</button>
      </div>
      <div class="col-sm-1">
        <button type="button" (click)="navigateToUserDetail()" class="btn-btn success">Back</button>
      </div>

  </div>
</div>
